In [1]:
import requests

website = 'http://localhost:5000'

# 1 Make prediction via HTTP POST API

In [2]:
url = f'{website}/api/predict_one'
model_inputs = {
    'contract_type': 'Month-to-Month',  
    'num_referrals': 0, 
    'num_dependents': 0, 
    'internet_type' : 'Fiber Optic',
    'age': 20,
    'tenure_months': 12,
    'zip_code': '90001',
    'payment_method': 'Credic Card',
    'total_monthly_fee': 20,
    'married': 'No',
}

response = requests.post(url, json=model_inputs)
print(response)  # 200 means OK, 400 means Bad Request
print(response.text)

<Response [200]>
{
  "prediction": 0
}

# 2 Make multiple predictions with one API call

In [3]:
import pandas as pd

dataset = pd.read_csv('../data/test_data_for_API.csv', keep_default_na=False, na_values='')
X = dataset.drop(columns='churn_label')
y = dataset['churn_label']

X

,contract_type,num_referrals,num_dependents,internet_type,age,tenure_months,zip_code,payment_method,total_monthly_fee,married
0,Month-to-Month,3,0,Fiber Optic,75,3,93010,Credit Card,83.90,Yes
1,Two Year,8,0,Fiber Optic,52,63,94558,Credit Card,84.65,Yes
2,Two Year,3,1,Cable,43,65,95681,Credit Card,90.45,Yes
3,Two Year,0,0,Fiber Optic,32,72,91942,Bank Withdrawal,101.30,No
4,Two Year,0,0,DSL,39,56,93441,Bank Withdrawal,45.05,No
...,...,...,...,...,...,...,...,...,...,...
7038,Two Year,0,0,Fiber Optic,52,72,90291,Bank Withdrawal,100.90,No
7039,Month-to-Month,0,0,Fiber Optic,44,14,93673,Bank Withdrawal,80.45,No
7040,Two Year,9,3,Fiber Optic,38,68,93544,Bank Withdrawal,99.55,Yes
7041,One Year,4,0,DSL,41,37,93033,Credit Card,72.10,Yes
7042,Two Year,1,0,None,19,71,90069,Credit Card,24.40,Yes

In [4]:
records = X.to_dict('records') 
records[:3]

[{'contract_type': 'Month-to-Month',
  'num_referrals': 3,
  'num_dependents': 0,
  'internet_type': 'Fiber Optic',
  'age': 75,
  'tenure_months': 3,
  'zip_code': 93010,
  'payment_method': 'Credit Card',
  'total_monthly_fee': 83.9,
  'married': 'Yes'},
 {'contract_type': 'Two Year',
  'num_referrals': 8,
  'num_dependents': 0,
  'internet_type': 'Fiber Optic',
  'age': 52,
  'tenure_months': 63,
  'zip_code': 94558,
  'payment_method': 'Credit Card',
  'total_monthly_fee': 84.65,
  'married': 'Yes'},
 {'contract_type': 'Two Year',
  'num_referrals': 3,
  'num_dependents': 1,
  'internet_type': 'Cable',
  'age': 43,
  'tenure_months': 65,
  'zip_code': 95681,
  'payment_method': 'Credit Card',
  'total_monthly_fee': 90.45,
  'married': 'Yes'}]

In [5]:
url = f'{website}/api/predict'

response = requests.post(url, json = records)
print(response)             # 200 means OK, 400 means Bad Request
print(response.text[:150])  # print first 150 characters of response

<Response [200]>
{
  "predictions": [
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,